[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.25"
django-crispy-forms = "*"
dj-static = "*"
dj-database-url = "*"
psycopg2 = "*"
gunicorn = "*"
python-decouple = "*"
Pillow = '*'

[requires]
python_version = "3.7"
